.u-section-1 .u-sheet-1 {
  min-height: 723px;
}

.u-section-1 .u-group-1 {
  width: 997px;
  min-height: 295px;
  height: auto;
  background-image: none;
  margin: 45px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  width: 584px;
  min-height: 61px;
  height: auto;
  background-image: none;
  margin: 44px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 11px 32px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 34px 82px 0;
}

.u-section-1 .u-group-3 {
  width: 997px;
  height: auto;
  background-image: linear-gradient(white, #e5e5e5);
  min-height: 238px;
  margin: 44px auto 45px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 1.875rem;
  width: 338px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 11px 82px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-1 .u-group-1 {
    min-height: 299px;
    margin-top: 47px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    width: 292px;
    margin-top: 46px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: 232px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 33px;
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 49px;
    margin-bottom: 29px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-left: 49px;
    margin-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 626px;
  }

  .u-section-1 .u-group-1 {
    min-height: 265px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-3 {
    margin-top: 38px;
    margin-bottom: 38px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    margin-left: 11px;
    margin-right: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-1 .u-group-1 {
    min-height: 258px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    width: 195px;
    margin-top: 23px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: 195px;
    margin-top: 14px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 21px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 35px;
    margin-bottom: 35px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-top: 21px;
    margin-left: 14px;
    margin-right: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-1 .u-group-1 {
    min-height: 320px;
    margin-top: 40px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-group-2 {
    width: 301px;
    min-height: 54px;
    margin-top: 19px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-group-3 {
    min-height: 367px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 24px;
    margin-left: 11px;
    margin-right: 11px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 355px;
}

.u-section-2 .u-group-1 {
  width: 997px;
  min-height: 287px;
  height: auto;
  background-image: linear-gradient(#e5e5e5, white);
  margin: 34px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 1.875rem;
  width: 182px;
  margin: 26px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 17px 82px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 342px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 27px;
    margin-bottom: 27px;
    min-height: 289px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 28px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 53px;
    margin-right: 53px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 15px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 22px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 325px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 28px;
    margin-bottom: 28px;
    min-height: 270px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-top: 26px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-top: 18px;
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-2 .u-group-1 {
    min-height: 369px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 15px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 15px;
    margin-left: 11px;
    margin-right: 11px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1200px;
}

.u-section-3 .u-group-1 {
  width: 997px;
  min-height: 1126px;
  height: auto;
  background-image: linear-gradient(white, #e5e5e5);
  margin: 42px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-size: 1.875rem;
  width: 475px;
  margin: 35px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 27px 82px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1199px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 30px;
    margin-bottom: 53px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    width: 338px;
    margin-top: 22px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 22px;
    margin-left: 53px;
    margin-right: 53px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1328px;
  }

  .u-section-3 .u-group-1 {
    margin-bottom: 30px;
    min-height: 1268px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 24px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 30px;
    margin-left: 23px;
    margin-right: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1138px;
  }

  .u-section-3 .u-group-1 {
    min-height: 1056px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 28px;
    margin-left: 46px;
    margin-right: 46px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-top: 28px;
    margin-left: 17px;
    margin-right: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1679px;
  }

  .u-section-3 .u-group-1 {
    min-height: 1612px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 284px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 24px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 292px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 28px;
    margin-bottom: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 342px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.25rem;
    margin-bottom: 30px;
  }
}