.u-section-1 .u-sheet-1 {
  min-height: 1002px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 59px;
  margin-bottom: 59px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1098px;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 0;
}

.u-section-1 .u-text-1 {
  font-weight: normal;
  font-size: 2.25rem;
  margin: 0 53px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 24px 56px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 20px 56px 0;
}

.u-section-1 .u-form-1 {
  height: 775px;
  margin: 20px 53px 0 56px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
  margin-top: 50px !important;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  background-image: none;
  padding: 14px 0 15px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: -340px 393px 0 56px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1121px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1003px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 44px;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 50px;
    margin-left: 31px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-1 .u-form-1 {
    width: 878px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -339px;
    margin-right: 280px;
    margin-left: 31px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1201px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 50px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1092px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 94px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 69px;
    margin-left: 50px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-form-1 {
    width: 620px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 79px;
    margin-left: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1224px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1115px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 6px 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 59px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    width: 480px;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1289px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 59px;
  }

  .u-section-1 .u-layout-cell-1 {
    order: 1;
    min-height: 1171px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-form-1 {
    width: 300px;
  }

  .u-section-1 .u-form-group-5 {
    margin-top: 55px !important;
  }

  .u-section-1 .u-text-4 {
    margin-top: -354px;
    margin-right: 11px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 193px;
}

.u-section-2 .u-group-1 {
  min-height: 158px;
  height: auto;
  width: 252px;
  margin: 18px auto;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 25px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 1rem;
  margin: 32px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    min-height: 172px;
    margin-top: 11px;
    margin-bottom: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 13px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 182px;
  }

  .u-section-2 .u-group-1 {
    min-height: 157px;
    margin-bottom: 13px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 25px;
    margin-left: 5px;
    margin-right: 5px;
  }
}