 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 41px;
}

.u-section-1 .u-text-1 {
  animation-timing-function: linear;
  width: 252px;
  margin: 6px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 38px;
  }

  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: 1000px;
    --animation-custom_in-translate_y: -1000px;
    --animation-custom_in-opacity: 1;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: 240px;
    margin-top: 5px;
    margin-bottom: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 63px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 12px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 46px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: -500px;
    width: 200px;
    margin-top: 1px;
    margin-bottom: 1px;
  }
}.u-block-d431-6 {
  position: absolute;
  left: auto;
  top: auto;
  right: calc(((100% - 1140px) / 2)  + 514px);
  bottom: 14px;
}

.u-block-d431-3 {
  position: absolute;
  left: 0;
}

.u-block-d431-5 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}

@media (max-width: 1199px) {
  .u-block-d431-6 {
    right: calc(((100% - 940px) / 2)  + 414px);
  }
}

@media (max-width: 991px) {
  .u-block-d431-6 {
    right: calc(((100% - 720px) / 2)  + 304px);
  }
}

@media (max-width: 767px) {
  .u-block-d431-6 {
    right: calc(((100% - 540px) / 2)  + 214px);
  }
}

@media (max-width: 575px) {
  .u-block-d431-6 {
    right: calc(((100% - 340px) / 2)  + 114px);
  }
}

 .u-section-2-1 {
  background-image: none;
}

.u-section-2-1 .u-sheet-1 {
  min-height: 528px;
}

.u-section-2-1 .u-image-1 {
  filter: brightness(0.95);
  width: 865px;
  height: 486px;
  margin: 21px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-2-1 .u-image-1 {
    height: 480px;
    margin-top: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-2-1 .u-image-1 {
    width: 720px;
    height: 400px;
    margin-top: 51px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 364px;
  }

  .u-section-2-1 .u-image-1 {
    width: 540px;
    height: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 240px;
  }

  .u-section-2-1 .u-image-1 {
    width: 340px;
    height: 189px;
    margin-top: 25px;
  }
}

 .u-section-2-2 {
  background-image: none;
}

.u-section-2-2 .u-sheet-1 {
  min-height: 527px;
}

.u-section-2-2 .u-image-1 {
  width: 864px;
  height: 486px;
  margin: 21px auto;
}

@media (max-width: 1199px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-2-2 .u-image-1 {
    height: 480px;
    margin-top: 35px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-2-2 .u-image-1 {
    width: 720px;
    height: 400px;
    margin-top: 51px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 364px;
  }

  .u-section-2-2 .u-image-1 {
    width: 540px;
    height: 300px;
    margin-top: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 240px;
  }

  .u-section-2-2 .u-image-1 {
    width: 340px;
    height: 189px;
    margin-top: 25px;
  }
}

 .u-section-2-3 {
  background-image: none;
}

.u-section-2-3 .u-sheet-1 {
  min-height: 527px;
}

.u-section-2-3 .u-image-1 {
  width: 864px;
  height: 486px;
  margin: 21px auto;
}

@media (max-width: 1199px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-2-3 .u-image-1 {
    height: 480px;
    margin-top: 35px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-2-3 .u-image-1 {
    width: 720px;
    height: 400px;
    margin-top: 51px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-2-3 .u-image-1 {
    height: 300px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 240px;
  }

  .u-section-2-3 .u-image-1 {
    height: 191px;
    margin-top: 24px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-3 {
  background-image: url("images/pexels-gl-ik-2128249.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1032px;
}

.u-section-3 .u-group-1 {
  width: 525px;
  min-height: 966px;
  height: auto;
  background-image: none;
  margin: 34px 0 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 11px;
}

.u-section-3 .u-video-1 {
  width: 385px;
  height: 216px;
  margin: 30px auto 0;
}

.u-section-3 .u-group-2 {
  min-height: 52px;
  height: auto;
  width: 360px;
  background-image: linear-gradient(#e5e5e5, white);
  margin: 59px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 10px -13px 0 14px;
}

.u-section-3 .u-shape-1 {
  width: 169px;
  height: 169px;
  background-image: linear-gradient(#e5e5e5, white);
  margin: 26px auto 0 68px;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -116px 285px 0 87px;
}

.u-section-3 .u-shape-2 {
  width: 169px;
  height: 169px;
  background-image: linear-gradient(#e5e5e5, white);
  margin: 12px 54px 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: -116px 71px 0 301px;
}

.u-section-3 .u-shape-3 {
  width: 169px;
  height: 169px;
  background-image: linear-gradient(#e5e5e5, white);
  margin: 12px auto 0 75px;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: -116px 278px 0 94px;
}

.u-section-3 .u-shape-4 {
  width: 169px;
  height: 169px;
  background-image: linear-gradient(#e5e5e5, white);
  margin: 16px 54px 0 auto;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: -132px 71px 0 301px;
}

.u-section-3 .u-group-3 {
  width: 570px;
  min-height: 682px;
  height: auto;
  background-image: none;
  margin: -966px auto 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-group-4 {
  width: 295px;
  min-height: 55px;
  height: auto;
  background-image: none;
  margin: 64px auto 0;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-6 {
  font-size: 2.25rem;
  width: 232px;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  width: 391px;
  margin: 34px auto 0;
}

.u-section-3 .u-group-5 {
  width: 570px;
  min-height: 159px;
  height: auto;
  background-image: none;
  margin: 57px auto 60px 0;
}

.u-section-3 .u-container-layout-5 {
  padding-left: 9px;
  padding-right: 9px;
}

.u-section-3 .u-line-1 {
  position: absolute;
  top: 22px;
  left: 220px;
  height: 116px;
  transform-origin: center bottom 0px;
}

.u-section-3 .u-text-8 {
  font-size: 1.75rem;
  line-height: 1.2;
  margin: 13px 43px 0 283px;
}

.u-section-3 .u-text-9 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: -106px 372px 0 17px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1077px;
  }

  .u-section-3 .u-group-1 {
    width: 442px;
    min-height: 933px;
    height: auto;
  }

  .u-section-3 .u-video-1 {
    height: 217px;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.75rem;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 24px;
    margin-left: 48px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 222px;
    margin-left: 67px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -10px;
    margin-right: 36px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 53px;
    margin-left: 237px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: 13px;
    margin-left: 48px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: 222px;
    margin-left: 68px;
  }

  .u-section-3 .u-shape-4 {
    margin-top: 6px;
    margin-right: 36px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-right: 55px;
    margin-left: 234px;
  }

  .u-section-3 .u-group-3 {
    width: 454px;
    margin-top: -934px;
    height: auto;
  }

  .u-section-3 .u-group-4 {
    height: auto;
  }

  .u-section-3 .u-group-5 {
    width: 454px;
    margin-top: 61px;
    height: auto;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-right: 29px;
    margin-left: 231px;
  }

  .u-section-3 .u-text-9 {
    margin-top: -107px;
    margin-right: 273px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1899px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 751px;
    margin-right: auto;
  }

  .u-section-3 .u-group-3 {
    margin-top: -1648px;
    margin-left: auto;
  }

  .u-section-3 .u-group-5 {
    margin-top: 994px;
    margin-left: auto;
    margin-bottom: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1913px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 731px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
    margin-top: -119px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: 24px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-3 .u-shape-4 {
    margin-top: -12px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-3 .u-group-3 {
    min-height: 613px;
    margin-top: -1605px;
  }

  .u-section-3 .u-group-5 {
    margin-top: 1043px;
    margin-bottom: 39px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1rem;
    margin-top: 42px;
    margin-right: 27px;
    margin-left: 233px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: -76px;
    margin-right: 251px;
    margin-left: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1822px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 686px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-video-1 {
    width: 320px;
    height: 180px;
  }

  .u-section-3 .u-group-2 {
    width: 320px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 13px;
    margin-left: 16px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -110px;
    margin-right: 166px;
    margin-left: 47px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: 34px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -107px;
    margin-right: 34px;
    margin-left: 153px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: 27px;
    margin-left: 16px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -110px;
    margin-right: 153px;
    margin-left: 34px;
  }

  .u-section-3 .u-shape-4 {
    margin-top: 30px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -122px;
    margin-right: 34px;
    margin-left: 153px;
  }

  .u-section-3 .u-group-3 {
    min-height: 571px;
    width: 329px;
    margin-top: -1548px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-3 .u-group-4 {
    margin-top: 25px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 46px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-3 .u-group-5 {
    min-height: 151px;
    margin-top: 1004px;
    margin-bottom: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-line-1 {
    top: 27px;
    left: auto;
    height: 97px;
    right: 167px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 33px;
    margin-right: 41px;
    margin-left: 204px;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.5rem;
    margin-top: -63px;
    margin-right: 192px;
    margin-left: 37px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 733px;
}

.u-section-4 .u-group-1 {
  width: 1038px;
  min-height: 643px;
  background-image: none;
  height: auto;
  margin: 45px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 401px;
  height: 532px;
  margin: 69px 93px 0 auto;
}

.u-section-4 .u-image-2 {
  width: 117px;
  height: 45px;
  margin: -546px auto 0 58px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -38px auto 0 190px;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 105px auto 0 37px;
}

.u-section-4 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 15px 293px 0 37px;
}

.u-section-4 .u-btn-1 {
  background-image: linear-gradient(#db545a, #ff000d);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  margin: 27px auto 0;
  padding: 7px 32px 7px 31px;
}

.u-section-4 .u-icon-1 {
  font-size: 1.5em;
  padding: 5px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 764px;
  }

  .u-section-4 .u-group-1 {
    min-height: 669px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-4 .u-image-1 {
    margin-top: 100px;
    margin-right: 55px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -577px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -37px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 111px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 37px;
    margin-right: 195px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    min-height: 697px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 17px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 101px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -578px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 814px;
  }

  .u-section-4 .u-group-1 {
    min-height: 689px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    margin-top: 110px;
    margin-right: 62px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -597px;
    margin-left: 64px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -32px;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 203px;
    margin-left: 26px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.25rem;
    margin-top: 26px;
    margin-right: 11px;
    margin-left: 26px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 128px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-4 .u-group-1 {
    min-height: 615px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    height: 451px;
    margin-top: 89px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-2 {
    margin-top: -514px;
    margin-left: 19px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 28px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 151px;
    margin-right: 148px;
    margin-left: 19px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 18px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-4 .u-btn-1 {
    font-size: 1.5rem;
    margin-top: 71px;
    padding: 1px 19px 2px 18px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 253px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 59px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  width: 803px;
  margin: 33px auto 32px;
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
} .u-section-6 {
  background-image: url("images/pexels-martin-de-arriba-7171398.jpg");
  background-position: 50% 65.76%;
}

.u-section-6 .u-sheet-1 {
  min-height: 808px;
}

.u-section-6 .u-group-1 {
  min-height: 685px;
  height: auto;
  margin-top: 44px;
  margin-bottom: 60px;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 7px 413px 0 32px;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  margin: 18px 32px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 908px;
  }

  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 13px;
    margin-right: 237px;
    margin-left: 30px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 12px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1043px;
  }

  .u-section-6 .u-text-1 {
    margin-right: -19px;
    margin-left: 19px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 19px;
    margin-right: 32px;
    margin-left: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-top: 12px;
    margin-right: -21px;
    margin-left: 21px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1rem;
    margin-top: 14px;
    margin-left: 21px;
    margin-right: 21px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1366px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 14px;
    margin-right: -12px;
    margin-left: 12px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 12px;
    margin-left: 12px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 193px;
}

.u-section-7 .u-group-1 {
  min-height: 158px;
  height: auto;
  width: 252px;
  margin: 18px auto;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-7 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 25px auto 0;
}

.u-section-7 .u-text-1 {
  font-size: 1rem;
  margin: 32px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}